/* ============================
   FZ POPPINS - FULL FONT SET
============================ */

/* Black */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Black Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Bold Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* ExtraBold */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* ExtraBold Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* ExtraLight */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* ExtraLight Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Light Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Medium Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* SemiBold Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Thin */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Thin Italic */
@font-face {
    font-family: "FZPoppins";
    src: url("./FzPoppins/FZ Poppins-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* ============================
   The Atlantic Regular
============================ */
@font-face {
    font-family: "TheAtlantic";
    src: url("./theAtlanticRegular/The Atlantic Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
