<section class="section-1-banner pt-0">
    <div class="section-1-section">

        <!-- WRAPPER SWIPER CHUNG -->
        <div class="section-1-swiper" data-swiper data-loop="true" data-speed="1000" data-space="30" data-effect="slide"
            data-slides-mobile="1" data-slides-desktop="1" data-next=".section-1-swiper .swiper-button-next"
            data-prev=".section-1-swiper .swiper-button-prev" data-pagination=".section-1-swiper .swiper-pagination">

            <!-- Navigation -->
            <div class="container section-1-navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination swiper-pagination-section-1"></div>

            <!-- Swiper -->
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/uploads/3. PRODUCT CATEGORY 2-113.png" alt="slide 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1559827260-dc66d52bef19?w=1600" alt="slide 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1559827260-dc66d52bef19?w=1600" alt="slide 3">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>