<section class="section-3">
    <div class="container">
        <h2 class="section-title">What you'll receive</h2>

        <!-- SWIPER -->
        <div class="section-3-swiper-wrapper relative" data-swiper data-loop="true" data-space="30"
            data-slides-mobile="2" data-slides-desktop="4" data-prev=".section-3-prev" data-next=".section-3-next">
            <div class="show-mobile">
                <div class="swiper-button-prev-border section-3-prev">
                </div>
                <div class="swiper-button-next-border section-3-next">
                </div>
            </div>
            <div class="swiper section-3-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="section-3-item swiper-item text-center h-100">
                            <img src="assets/images/uploads/icon-personalised.png" alt="Luxury Personalised Design">
                            <h3 class="h5">Luxury Personalised Design</h3>
                            <p class="limit-5-lines">
                                We’ll plan your trip around your specific interests, tastes and
                                preferences, providing helpful tips and honest advice based on
                                first-hand knowledge of the destination.
                            </p>
                            <a href="#" class="btn-gradient">Learn more</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="section-3-item swiper-item text-center h-100">
                            <img src="assets/images/uploads/icon-experts.png" alt="20+ Year Experienced">
                            <h3 class="h5">20+ Year Experienced Savvy Experts</h3>
                            <p class="limit-5-lines">
                                Our expert guides and brilliant travel concierges are hand-picked
                                to provide a genuine experience, bringing your destination to life
                                with care and passion.
                            </p>
                            <button class="btn-gradient open-booking-btn">Contact</button>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="section-3-item swiper-item text-center h-100">
                            <img src="assets/images/uploads/icon-responsible.png" alt="Responsible Travel">
                            <h3 class="h5">Responsible Travel</h3>
                            <p class="limit-5-lines">
                                Our luxury trips are designed with responsible travel principles
                                that prioritise travel experiences that are both good for you and
                                good for the planet.
                            </p>
                            <a href="#" class="btn-gradient">See more</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="section-3-item swiper-item text-center h-100">
                            <img src="assets/images/uploads/icon-ai.png" alt="AI">
                            <h3 class="h5">AI (Artificial Intelligence) Gurl Supreme</h3>
                            <p class="limit-5-lines">
                                Compare & Choose Suitable Travel Experiences for your own by using
                                our own AI (Artificial Intelligence)
                            </p>
                            <a href="#" class="btn-gradient">Experience Now</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-right mt-5">
            <a class="" href="#">
                Find out more about what Luxtrips.vn can do for you
                <img class="ml-13" src="assets/images/icons/arrow-next.svg" alt="">
            </a>
        </div>
    </div>
</section>