<footer class="lux-footer">

    <!-- ================= CTA TOP ================= -->
    <div class="footer-cta border-bottom border-secondary text-center px-15px py-5">
        <p class="text-white text-16 fw-600 mb-4">
            Let's Experience Unique and Personalised Journeys. Send us your request & get 01 step closer to
            Experiences that are Designed Just for You
        </p>

        <button class="btn-white open-booking-btn">REQUEST A QUOTE</button>

        <p class="text-white text-16 fw-600 mt-4 mb-0">
            Talk with our Luxury Personalised Travel Experts on +84 982 670 909
        </p>
    </div>

    <!-- ================= MAIN FOOTER ================= -->
    <div class="container pt-5 pb-20px">

        <div class="row text-white">

            <!-- About -->
            <div class="col-6 col-lg-2 mb-4">
                <h6 class="text-16 fw-600 mb-3">About Luxtrips.vn</h6>
                <ul class="list-unstyled text-14">
                    <li><a href="#">About Luxtrips.vn</a></li>
                    <li><a href="#">Luxtrips.vn Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Sustainability</a></li>
                </ul>
            </div>

            <!-- Terms -->
            <div class="col-6 col-lg-2 mb-4">
                <h6 class="text-16 fw-600 mb-3">Terms of use</h6>
                <ul class="list-unstyled text-14">
                    <li><a href="#">General Terms of Use</a></li>
                    <li><a href="#">Booking Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>

            <!-- FAQ -->
            <div class="col-12 col-lg-4 mb-4">
                <h6 class="text-16 fw-600 mb-3">FAQs</h6>
                <ul class="list-unstyled text-14">
                    <li><a href="#">Frequently Asked Questions</a></li>
                </ul>
            </div>

            <!-- Newsletter -->
            <div class="newsletter col-12 col-lg-4 mb-4">
                <p class="fw-700">Travel ideas & stories that will inspire you</p>
                <div class="input-group">
                    <input type="email" class="form-control mr-19" placeholder="Signup to our Newsletter">
                    <button class="btn btn-light">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>

                <div class="d-flex gap-3 fs-4 social-icons">
                    <a href="#"><img src="/assets/images/icons/facebook.png" width="40" height="40" alt="facebook"></a>
                    <a href="#"><img src="/assets/images/icons/youtube.png" width="40" height="40" alt="youtube"></a>
                    <a href="#"><img src="/assets/images/icons/tiktok.png" width="40" height="40" alt="tiktok"></a>
                    <a href="#"><img src="/assets/images/icons/instagram.png" width="40" height="40"
                            alt="instagram"></a>
                    <a href="#"><img src="/assets/images/icons/whatsapp.png" width="40" height="40" alt="whatsapp"></a>
                    <a href="#"><img src="/assets/images/icons/zalo.png" width="40" height="40" alt="zalo"></a>
                </div>
            </div>

        </div>
    </div>

    <!-- ================= COPYRIGHT ================= -->
    <div class="border-top border-secondary"></div>
    <div class="footer-bottom container text-white py-3 text-14">
        Copyright 2025 | Luxtrips.vn | All rights reserved
    </div>
    <!-- ================= INFO ================= -->
    <div class="border-top border-secondary"></div>
    <div class="container text-white py-3 pt-5 footer-info">
        <h6 class="text-16 fw-600 mb-3">AAV TOURISM AND TRADING JOINT STOCK COMPANY</h6>
        <ul class="list-unstyled text-14">
            <li>Address: Dong Loi Building, No 2-4, 1160 Alley, Lang Street, Lang Ward, Hanoi, Vietnam</li>
            <li>Hotline: +84 981 835 093</li>
            <li>Phone: (+84 24) 35622733</li>
            <li>Email: discover@allasiavacation.com</li>
            <li>Copyright 2025 | Luxtrips.vn | All rights reserved</li>
        </ul>
    </div>
</footer>