:root {
    /* ====== COLORS ====== */
    --bs-primary: #BF882D;
    --bs-secondary: #3C3C3B;
    --bs-body-bg: #ffffff;
    --bs-body-color: ##2B2B2A;
    --bs-success: #3cb878;
    --bs-danger: #ff4d4f;
    --bs-warning: #f0ad4e;
    --bs-info: #17a2b8;
    --gradient-black-to-gray: linear-gradient(90deg, #000000 0%, #4D4D4D 100%);

    --bs-body-font-family: "FZPoppins", sans-serif;
    --secondary-font-family: "TheAtlantic", sans-serif;
    --bs-body-font-size: 16px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.75;
    --bs-body-color: #2D2D2B;
    --bs-body-bg: #fff;
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 1.875rem;

    /* ====== BORDER ====== */
    --bs-border-radius: 5px;

    /* ====== SPACING ====== */
    --spacing-section: 80px;
}
.row {
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 1.875rem;
}

body{
    overflow-x: hidden;
}

.relative {
    position: relative;
}

a {
    cursor: pointer;
    color: var(--bs-body-color);
    transition: all .3s ease;
}


a:hover{
    color: var(--bs-primary);
}
.cursor-pointer {
    cursor: pointer;
}
.border-0 {
    border: none !important;
}
.no-shrink {
    flex-shrink: 0;
}
.inline-block {
    display: inline-block;
}
.text-right {
    text-align: right;
}
.ml-13 {
    margin-left: 13px;
}
.fit-cover {
    object-fit: cover;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
}

.w-100 {
    width: 100%;
}

/* color */
.text-primary {
    color: var(--bs-primary) !important;
}
.text-secondary {
    color: var(--bs-secondary) !important;
}
.text-body{
    color: var(--bs-body-color);
}
.text-decoration-none{
    text-decoration: none;
}
/* text */

.text-10 {
    font-size: 10px;
}
.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px;
}

.text-14 {
    font-size: 14px;
}
.text-16 {
    font-size: 16px;
}
.text-18 {
    font-size: 18px;
}
.text-20 {
    font-size: 20px;
}
.text-26 {
    font-size: 26px;
}
.text-28 {
    font-size: 28px;
}
.text-30 {
    font-size: 30px;
}

.fw-bold {
    font-weight: bold;
}
.fw-600 {
    font-weight: 600;
}
.fw-500 {
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}
.text-uppercase {
    text-transform: uppercase;
}

.line-height-1{
    line-height: 1;
}



/* padding */
.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}
.p-8px {
    padding: 8px;
}   

.px-60px {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}
.pb-20px {
    padding-bottom: 20px;
}

.px-15px{
    padding-left: 15px;
    padding-right: 15px;
}
.py-24px{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-30px{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* margin */

.mr-19 {
    margin-right: 19px;
}
.mb-0{
    margin-bottom: 0;
}
.mb-15px{
    margin-bottom: 15px;
}

.pre-line {
    white-space: pre-line;
}