/* MOBILE STYLES */
.mobile-header {
  display: none;
  background: var(--bs-secondary);
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 41px;
  letter-spacing: 3px;
  font-family: var(--secondary-font-family);
  line-height: normal;
}

.mobile-header .navbar-brand {
  color: var(--bs-primary);
  font-size: 20px;
  text-decoration: none;
}

.mobile-search {
  flex: 1;
  margin: 0 15px;
  /* max-width: 200px; */
  min-height: 35px;
  position: relative;
}

.mobile-search input {
  border-radius: var(--bs-border-radius);
  font-size: 12px;
  padding: 8px 10px 8px 15px;
  border: none;
}

.mobile-search .search-icon {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  width: 31px;
  height: 31px;
  border-radius: var(--bs-border-radius);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-black-to-gray);
}

.mobile-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.mobile-icons img {
  width: 24px;
}

.hamburger-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE MENU SIDEBAR */
.mobile-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.mobile-menu-overlay.active {
  display: block;
}

.mobile-menu-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 9999;
  transition: right 0.3s ease;
  overflow-y: auto;
}

.mobile-menu-sidebar.active {
  right: 0;
}

.mobile-menu-header {
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.close-menu {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu-top-icons {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  justify-content: space-around;
}

.mobile-menu-top-icons i,
.mobile-menu-top-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mobile-search-box {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.mobile-search-box input {
  width: 100%;
  padding: 10px 50px 10px 15px;
  border: 1px solid #ddd;
  border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-secondary);
}

.mobile-search-box button {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--gradient-black-to-gray);
  border: none;
  padding: 8px 22px;
  color: white;
  border-radius: 4px;
}

.mobile-menu-content {
  padding: 20px;
}

.mobile-menu-content .menu-section-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-section {
  margin-bottom: 25px;
}

.menu-section ul {
  padding: 15px;
  margin: 0;
}

.mobile-menu-content .menu-section ul li {
  padding: 10px 0;
}

.menu-section ul li:last-child {
  border-bottom: none;
}

.menu-section ul li a {
  color: var(--bs-secondary);
  text-decoration: none;
  display: block;
}

.menu-section ul li a:hover {
  color: var(--bs-primary);
}

.menu-section ul li.hidden {
  display: none;
}

.see-more-btn {
  color: var(--bs-secondary);
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0 15px;
  font-weight: 300;
}

.see-more-btn:hover {
  color: var(--bs-primary);
}

.btn-primary-color{
  color: var(--bs-primary);
}

.btn-primary-color:hover{
  color: var(--bs-secondary);
}

.mobile-menu-footer {
  padding: 20px 15px 50px;
  border-top: 1px solid #ddd;
}

.newsletter-box {
  margin-bottom: 30px;
}

.newsletter-box p {
  font-size: 16px;
  margin-bottom: 10px;
}

.newsletter-box .input-group input {
  font-size: 12px;
  padding: 8px;
  max-width: 287px;
  height: 30px;
  margin-right: 5px;
  border-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
  border: 1px solid var(--bs-secondary);
}

.newsletter-box .input-group button {
  background: var(--gradient-black-to-gray);
  border: none;
  border-radius: var(--bs-border-radius);
  color: white;
  width: 30px;
  height: 30px;
  margin-left: 0 !important;
  border-top-left-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: var(--bs-border-radius) !important;
}

.mobile-menu-footer .social-icons {
  display: flex;
  gap: 10px;
}

.mobile-menu-footer .social-icons a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gradient-black-to-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  margin-top: 0;
}

.section-1-banner .swiper-slide,
.section-3 .swiper-slide,
.section-4 .swiper-slide,
.section-6 .swiper-slide {
  min-width: 300px;
}

/* Mobile Bottom Navigation */
.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.4s ease-out;
  border-top: .5px solid #222;
}

.mobile-bottom-nav.show {
  transform: translateY(0);
}


.mobile-bottom-nav.show .nav-top-bottom {
  opacity: 1;
}

.mobile-bottom-nav .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  max-width: 600px;
  margin: 0 auto;
}

.mobile-bottom-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
}

.mobile-bottom-nav .nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.mobile-bottom-nav .nav-top-bottom {
  margin-top: -25px;
  opacity: 0;
  transition: all .1s ease;
  position: relative;
}

.mobile-bottom-nav .nav-top-bottom img {
  position: relative;
  z-index: 3;
}

.mobile-bottom-nav .icon-top-bottom-mobile {
  position: relative;
}

.mobile-bottom-nav .nav-item.active .not-current,
.mobile-bottom-nav .nav-item .current-page {
  display: none;
}

.mobile-bottom-nav .nav-item.active .current-page {
  display: block;
}

.mobile-bottom-nav .icon-top-bottom-mobile::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 51px;
  border: .5px solid #222;
  border-radius: 50%;
  pointer-events: none;
  background-color: #fff;
}

.mobile-bottom-nav .icon-top-bottom-mobile::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 37px;
  background-color: #fff;
  pointer-events: none;
  z-index: 2;
}

.mobile-bottom-nav .nav-label {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #2D2D2B;
}

/* Floating Action Buttons */
.floating-actions {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 100px;
  z-index: 999;

  flex-direction: column;
  gap: 9px;
  transition: transform 0.4s ease-out;
  transform: translateX(100%);
}

.floating-actions.show {
  right: 20px;
  transform: translateX(0);
}

.floating-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  position: relative;
}

.floating-btn:hover {
  transform: scale(1.1);
  color: white;
}

.floating-btn.save-btn {
  margin-bottom: 20px;
}

.floating-btn .badge {
  position: absolute;
  top: -12px;
  right: -6px;
  background-color: #ffc107;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.floating-btn .save-bag {
  position: absolute;
  bottom: -20px;
  right: -0;
  background-color: #ffc107;
  color: white;
  font-size: 10px;
  border-radius: var(--bs-border-radius);
  width: 40px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide on desktop */
@media (min-width: 768px) {}


@media (max-width: 768px) {

  .section-1-banner .swiper-slide,
  .section-3 .swiper-slide,
  .section-4 .swiper-slide,
  .section-6 .swiper-slide {
    min-width: 240px;
  }

}

@media (max-width: 992px) {
  section {
    padding: 60px 0;
  }

  /* ==================== 1. section-1 BANNER ==================== */
  .section-1-title {
    font-size: 1.8rem;
  }

  .section-1-subtitle {
    font-size: 0.9rem;
  }

  .search-popup,
  .search-popup-header,
  .search-popup-mobile {
    min-width: auto;
  }

  .footer-info {
    text-align: center;
  }

  .mobile-search {
    position: static;
    display: flex;
    align-items: center;
  }
  .search-input-mobile{
   width: 78%;
   margin-right: 5px;
  }
  .search-icon{
    position: static !important;
    transform: none !important;
    height: 34px !important;
  }

  .search-popup-mobile {
    margin: 0 15px;
  }

  /* section 2 */
  .section__2-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .section__2-img {
    order: 2;
  }

  .section__2-img img {
    width: 100%;
  }

  .section__2-content {
    order: 1;
  }

  /* section 5 */
  .section-5-swiper .swiper-slide:nth-child(even) {
    margin-top: 0;
  }

  .section-6-product-2 .trustpilot-header {
    margin-bottom: 30px;
  }

  .section-2-product .destinations-info {
    margin-top: 40px;
  }

  .section-1-title, .section-1-subtitle{
    text-align: center;
  }

}

@media (max-width: 1199px) {
  .g-40px {
    --bs-gutter-x: 2.5rem;
    --bs-gutter-y: 2.5rem;
    row-gap: 2.5rem;
    margin-top: 0;
    gap: 0;
  }

  .g-50px {
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 1.875rem;
    row-gap: 1.875rem;
    margin-top: 0;
    gap: 0;
  }

  .lux-navbar>.container-fluid {
    display: none !important;
  }

  .lux-menu,
  .show-pc {
    display: none !important;
  }

  .mobile-header,
  #home-page .swiper-pagination-section-1,
  .show-mobile {
    display: flex;
  }

  .site-content {
    padding-top: 74px;
  }

  .section-1-banner .swiper-slide,
  .section-1-banner .swiper-slide img {
    min-height: 485px;
  }

  .section-title {
    font-size: 1.625rem;
  }

  .search-container {
    width: 100%;
    max-width: none;
  }

  .btn-gradient {
    padding: 11px 18px;
  }

  .footer-bottom {
    text-align: center;
  }

  /* section 1 */
  .section__1-icon--mobile i {
    font-size: 27px;
    font-weight: bolder;
  }

  /* Show only on mobile */
  .mobile-bottom-nav.show {
    display: block;
  }

  .footer-info {
    padding-bottom: 100px !important;
  }

  .section-3__product-3 .feature-number {
    font-size: 30px;
  }

  .section-3__product-3 .feature-text h4 {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {

  .mobile-bottom-nav,
  .company-info {
    display: none !important;
  }

  .mobile-header,
  #home-page .swiper-pagination-section-1,
  .show-mobile {
    display: none;
  }
}

@media (max-width: 1300px) {
  .lux-menu .nav {
    gap: 0;
  }
}


@media (max-width: 1400px) {
  .search-box {
    margin-right: 15px;
  }

  .navbar-brand {
    font-size: 30px;
  }
}